.pizza-card {
  background: white;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  height: 100%;
}

.pizza-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.16);
}

.pizza-image {
  width: 100%;
  height: 210px;
  object-fit: cover;
  display: block;
}

.pizza-content {
  padding: 20px;
}

.categoria {
  display: inline-block;
  background: #fff0c2;
  color: #9a6500;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
}

.pizza-content h3 {
  margin: 10px 0 8px;
  font-size: 23px;
  color: #8b1e1e;
}

.pizza-content p {
  color: #666;
  font-size: 14px;
  line-height: 1.5;
  min-height: 42px;
}

.pizza-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 18px;
}

.pizza-bottom strong {
  color: #222;
  font-size: 19px;
}

.pizza-bottom button {
  border: none;
  background: #be0a0a;
  color: white;
  padding: 10px 14px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.pizza-bottom button:hover {
  background: #a0170d;
  transform: scale(1.05);
}