<div class="pizza-card">

  <img
    [src]="pizza().imagem"
    [alt]="'Pizza ' + pizza().nome"
    class="pizza-image"
  >

  <div class="pizza-content">

    <span class="categoria">
      {{ pizza().categoria }}
    </span>

    <h3>{{ pizza().nome }}</h3>

    <p>{{ pizza().descricao }}</p>

    <div class="pizza-bottom">

      <strong>
        R$ {{ pizza().preco.toFixed(2).replace('.', ',') }}
      </strong>

      <button type="button">
        🛒 Adicionar
      </button>

    </div>

  </div>

</div>