<article class="pizza-card">

  <img
    class="pizza-image"
    [src]="pizza().imagem"
    [alt]="pizza().nome"
  >

  <div class="pizza-content">

    <span class="categoria">
      {{ pizza().categoria }}
    </span>

    <h3>{{ pizza().nome }}</h3>

    <p>{{ pizza().descricao }}</p>

    <div class="pizza-footer">

      <strong>
        R$ {{ pizza().preco.toFixed(2).replace('.', ',') }}
      </strong>

      <button
        type="button"
        (click)="adicionarAoCarrinho()"
      >
        🛒 Adicionar
      </button>

    </div>

  </div>

</article>