.header {
  width: 100%;
  padding: 18px 7%;
  background:linear-gradient(to bottom, #831414 30%, #551810 70%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 3px 15px rgba(255, 254, 254, 0.08);
  position: relative;
  z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo img{
    width:100px;
    height:80px;
    margin-right:12px;
    object-fit:contain;
    transition:.6s;

}

.logo:hover{
    transform:rotate(-6deg);
}



.logo h1 {
  margin: 0;
  color: #8b1e1e;
  font-size: 26px;
  font-weight: 800;
}

.logo span {
  color: #d99b00;
  font-size: 13px;
  font-weight: bold;
}

nav {
  display: flex;
  align-items: center;
  gap: 25px;
}

nav a {
  color: #fffdfd;
  text-decoration: none;
  font-weight: 600;
}

nav a:hover {
  color: #8b1e1e;
}

nav button {
  border: none;
  background: #d99b00;
  color: white;
  padding: 11px 18px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

nav button:hover {
  background: #b98100;
}

@media (max-width: 700px) {
  .header {
    padding: 15px 5%;
  }

  nav a {
    display: none;
  }

  .logo img {
    width: 45px;
    height: 45px;
  }
}
.cart-button {
  position: relative;
  border: none;
  background: #d99b00;
  color: white;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  font-size: 21px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-button:hover {
  transform: scale(1.05);
}

.cart-badge {
  position: absolute;
  top: -6px;
  right: -6px;
  min-width: 22px;
  height: 22px;
  padding: 2px 6px;
  background: #d62828;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid white;
}