<section class="container my-5">

    <h2 class="text-center mb-5">
        🍕 Nosso Cardápio
    </h2>

    <div class="row g-4">

        <div class="col-lg-4 col-md-6 col-sm-12">
            <app-pizza-card></app-pizza-card>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <app-pizza-card></app-pizza-card>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <app-pizza-card></app-pizza-card>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <app-pizza-card></app-pizza-card>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <app-pizza-card></app-pizza-card>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <app-pizza-card></app-pizza-card>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <app-pizza-card></app-pizza-card>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <app-pizza-card></app-pizza-card>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <app-pizza-card></app-pizza-card>
        </div>

    </div>

</section>