.banner {
    background: linear-gradient(rgba(0,0,0,.55), rgba(0,0,0,.55)),
                url('/assets/img/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay{
    width:100%;
}

.banner h1{
    color:white;
    font-size:4rem;
    font-weight:bold;
    text-shadow:3px 3px 8px black;
}

.banner p{
    color:white;
    font-size:1.3rem;
    margin:20px auto;
    max-width:700px;
}

.btn-banner{

    background:#FFD54F;
    color:#8B0000;

    border:none;

    padding:15px 40px;

    border-radius:40px;

    font-size:1.1rem;

    font-weight:bold;

    transition:.3s;

    cursor:pointer;

}

.btn-banner:hover{

    background:#ffca28;

    transform:scale(1.05);

    box-shadow:0 10px 25px rgba(0,0,0,.3);

}