.footer {
  margin-top: 30px;
  padding: 20px;
  text-align: center;
  background: #2d241d;
  color: white;
}

.footer strong {
  color: #d49a00;
}

.footer p {
  margin: 6px 0;
}

.footer small {
  color: #bbb;
}